<%- include('../_partial/_header'); -%>

<h1>Welcome to Good Health Consult</h1>
<h1>Quality rendering of services</h1>
<h2>Your number one health joint</h2>
<h3>Affordable Prices</h3>
<h4>Advanced Facilities</h4>

<%- include ('../_partial/_footer'); -%>